<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>fileConvertor</title>
  <link rel="stylesheet" href="main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fjalla+One&family=Francois+One&family=Source+Code+Pro:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
</head>

<body>
  <div class="container">
    <img src="/svg.png" alt="" style="position: relative; bottom: -200px; ">
    <div class="main-container">
      <!-- <div class="main-inside-container"> -->

      <div class="title-container">
        <span class="blast color-spanTop">O</span>
        <span class="blast color-spanTop" >p</span>
        <span class="blast color-spanTop">t</span>
        <span class="blast color-spanTop">i</span>
        <span class="blast color-spanTop">m</span>
        <span class="blast color-spanTop">i</span>
        <span class="blast color-spanTop">z</span>
        <span class="blast color-spanTop">e</span>
        &nbsp;
        <span class="blast color-spanTop">y</span>
        <span class="blast color-spanTop">o</span>
        <span class="blast color-spanTop">u</span>
        <span class="blast color-spanTop">r</span>
        <br>
        
        <span class="blasty color-spanBottom">d</span>
        <span class="blasty color-spanBottom">a</span>
        <span class="blasty color-spanBottom">i</span>
        <span class="blasty color-spanBottom">l</span>
        <span class="blasty color-spanBottom">y</span>
        &nbsp;
        <span class="blasty color-spanBottom">w</span>
        <span class="blasty color-spanBottom">o</span>
        <span class="blasty color-spanBottom">r</span>
        <span class="blasty color-spanBottom">k</span>
        <span class="blasty color-spanBottom">,</span>
      </div>
      <button class="btn" >Try it out free</button>
      <div class="img-container">
        <svg style="position: relative; bottom: -334px; " width="100%" height="100%" id="svg" viewBox="0 0 1440 400"
          xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
          <style>
            .path-0 {
              animation: pathAnim-0 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }

            @keyframes pathAnim-0 {
              0% {
                d: path("M 0,400 C 0,400 0,133 0,133 C 60.96643235910717,109.51291157972622 121.93286471821435,86.02582315945246 171,86 C 220.06713528178565,85.97417684054754 257.2349734862499,109.40961894191639 307,131 C 356.7650265137501,152.5903810580836 419.12724133678626,172.33570107288196 472,169 C 524.8727586632137,165.66429892711804 568.256061166605,139.24757676655568 623,134 C 677.743938833395,128.75242323344432 743.8485139967936,144.6739918608953 798,156 C 852.1514860032064,167.3260081391047 894.3498828462201,174.0564557898631 953,179 C 1011.6501171537799,183.9435442101369 1086.7519546183255,187.10018497965225 1137,182 C 1187.2480453816745,176.89981502034775 1212.6422986804785,163.54280429152791 1259,154 C 1305.3577013195215,144.45719570847209 1372.6788506597609,138.72859785423606 1440,133 C 1440,133 1440,400 1440,400 Z");
              }

              25% {
                d: path("M 0,400 C 0,400 0,133 0,133 C 49.00328030583303,110.77077321494636 98.00656061166606,88.5415464298927 148,102 C 197.99343938833394,115.4584535701073 248.97703785916883,164.6045874953755 313,170 C 377.02296214083117,175.3954125046245 454.08528795165864,137.04010358860526 508,110 C 561.9147120483414,82.95989641139474 592.6818103341965,67.23499815020348 638,90 C 683.3181896658035,112.76500184979652 743.1874707115551,174.01990381058081 792,180 C 840.8125292884449,185.98009618941919 878.5683068195832,136.68538660747316 931,124 C 983.4316931804168,111.31461339252682 1050.5393020101121,135.23854975952645 1110,133 C 1169.4606979898879,130.76145024047355 1221.274485139968,102.36041435442101 1275,98 C 1328.725514860032,93.63958564557899 1384.362757430016,113.3197928227895 1440,133 C 1440,133 1440,400 1440,400 Z");
              }

              50% {
                d: path("M 0,400 C 0,400 0,133 0,133 C 68.61393513380196,152.544407448514 137.22787026760392,172.088814897028 188,181 C 238.77212973239608,189.911185102972 271.7024540633863,188.18914786040202 315,167 C 358.2975459366137,145.81085213959798 411.9623134788507,105.1545936613639 461,104 C 510.0376865211493,102.8454063386361 554.448292021211,141.19247749414234 616,147 C 677.551707978789,152.80752250585766 756.2445184363053,126.07549636206683 817,108 C 877.7554815636947,89.92450363793317 920.5736342335678,80.50553705759036 971,101 C 1021.4263657664322,121.49446294240964 1079.460944629424,171.90235540757183 1134,179 C 1188.539055370576,186.09764459242817 1239.582587248736,149.88504131212233 1290,135 C 1340.417412751264,120.11495868787766 1390.2087063756321,126.55747934393884 1440,133 C 1440,133 1440,400 1440,400 Z");
              }

              75% {
                d: path("M 0,400 C 0,400 0,133 0,133 C 42.572499691700585,155.75910716487851 85.14499938340117,178.51821432975706 143,165 C 200.85500061659883,151.48178567024294 273.992502158096,101.6862498458503 324,98 C 374.007497841904,94.3137501541497 400.88499198421505,136.73678628684178 450,146 C 499.11500801578495,155.26321371315822 570.4675299050438,131.36660500678258 631,127 C 691.5324700949562,122.63339499321742 741.24488839561,137.79679368602785 803,132 C 864.75511160439,126.20320631397216 938.5529165125167,99.44622024910595 984,96 C 1029.4470834874833,92.55377975089405 1046.5434455543225,112.41832531754841 1099,113 C 1151.4565544456775,113.58167468245159 1239.2733012701935,94.88047848070046 1302,95 C 1364.7266987298065,95.11952151929954 1402.3633493649031,114.05976075964978 1440,133 C 1440,133 1440,400 1440,400 Z");
              }

              100% {
                d: path("M 0,400 C 0,400 0,133 0,133 C 60.96643235910717,109.51291157972622 121.93286471821435,86.02582315945246 171,86 C 220.06713528178565,85.97417684054754 257.2349734862499,109.40961894191639 307,131 C 356.7650265137501,152.5903810580836 419.12724133678626,172.33570107288196 472,169 C 524.8727586632137,165.66429892711804 568.256061166605,139.24757676655568 623,134 C 677.743938833395,128.75242323344432 743.8485139967936,144.6739918608953 798,156 C 852.1514860032064,167.3260081391047 894.3498828462201,174.0564557898631 953,179 C 1011.6501171537799,183.9435442101369 1086.7519546183255,187.10018497965225 1137,182 C 1187.2480453816745,176.89981502034775 1212.6422986804785,163.54280429152791 1259,154 C 1305.3577013195215,144.45719570847209 1372.6788506597609,138.72859785423606 1440,133 C 1440,133 1440,400 1440,400 Z");
              }
            }
          </style>
          <path
            d="M 0,400 C 0,400 0,133 0,133 C 60.96643235910717,109.51291157972622 121.93286471821435,86.02582315945246 171,86 C 220.06713528178565,85.97417684054754 257.2349734862499,109.40961894191639 307,131 C 356.7650265137501,152.5903810580836 419.12724133678626,172.33570107288196 472,169 C 524.8727586632137,165.66429892711804 568.256061166605,139.24757676655568 623,134 C 677.743938833395,128.75242323344432 743.8485139967936,144.6739918608953 798,156 C 852.1514860032064,167.3260081391047 894.3498828462201,174.0564557898631 953,179 C 1011.6501171537799,183.9435442101369 1086.7519546183255,187.10018497965225 1137,182 C 1187.2480453816745,176.89981502034775 1212.6422986804785,163.54280429152791 1259,154 C 1305.3577013195215,144.45719570847209 1372.6788506597609,138.72859785423606 1440,133 C 1440,133 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#eb144c88"
            class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
          <style>
            .path-1 {
              animation: pathAnim-1 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }

            @keyframes pathAnim-1 {
              0% {
                d: path("M 0,400 C 0,400 0,266 0,266 C 37.71769638673079,293.01447774078184 75.43539277346159,320.0289554815637 133,307 C 190.5646072265384,293.9710445184363 267.97612529288443,240.89865581452705 333,228 C 398.02387470711557,215.10134418547295 450.6601060550005,242.37642126032804 503,249 C 555.3398939449995,255.62357873967196 607.3834504871131,241.5956591441608 663,232 C 718.6165495128869,222.4043408558392 777.806091996547,217.24094216302876 818,230 C 858.193908003453,242.75905783697124 879.3921815266987,273.44057220372423 933,268 C 986.6078184733013,262.55942779627577 1072.6251818966582,220.99676902207423 1129,225 C 1185.3748181033418,229.00323097792577 1212.1070908866689,278.5723517079788 1259,293 C 1305.8929091133311,307.4276482920212 1372.9464545566657,286.7138241460106 1440,266 C 1440,266 1440,400 1440,400 Z");
              }

              25% {
                d: path("M 0,400 C 0,400 0,266 0,266 C 39.333530644962394,259.2634356887409 78.66706128992479,252.52687137748183 138,255 C 197.3329387100752,257.4731286225182 276.66528548526327,269.15595017881367 338,270 C 399.33471451473673,270.84404982118633 442.6717967690221,260.8493279072635 495,262 C 547.3282032309779,263.1506720927365 608.6475274386484,275.4467381921322 665,267 C 721.3524725613516,258.5532618078678 772.7380934763844,229.36371932420766 820,223 C 867.2619065236156,216.63628067579234 910.4000986558145,233.09838451103712 964,240 C 1017.5999013441855,246.90161548896288 1081.6615119003575,244.24274263164384 1128,241 C 1174.3384880996425,237.75725736835616 1202.9538537427552,233.93064496238748 1252,238 C 1301.0461462572448,242.06935503761252 1370.5230731286224,254.03467751880626 1440,266 C 1440,266 1440,400 1440,400 Z");
              }

              50% {
                d: path("M 0,400 C 0,400 0,266 0,266 C 48.265186829448766,271.9029720064126 96.53037365889753,277.80594401282525 142,269 C 187.46962634110247,260.19405598717475 230.14369219385873,236.67919595511162 291,240 C 351.8563078061413,243.32080404488838 430.89485756566773,273.4772721667283 481,266 C 531.1051424343323,258.5227278332717 552.2768775434703,213.41171537797507 612,220 C 671.7231224565297,226.58828462202493 769.9976322604513,284.87586632137135 827,292 C 884.0023677395487,299.12413367862865 899.7325934147244,255.08481933653965 942,253 C 984.2674065852756,250.91518066346035 1053.071994080651,290.7848563324701 1109,309 C 1164.928005919349,327.2151436675299 1207.979430262671,323.7757553335799 1261,313 C 1314.020569737329,302.2242446664201 1377.0102848686645,284.11212233321004 1440,266 C 1440,266 1440,400 1440,400 Z");
              }

              75% {
                d: path("M 0,400 C 0,400 0,266 0,266 C 41.170255271920084,278.7130842274016 82.34051054384017,291.4261684548033 133,300 C 183.65948945615983,308.5738315451967 243.80821309655937,313.0084104081884 302,306 C 360.19178690344063,298.9915895918116 416.4266370699222,280.540189912443 481,261 C 545.5733629300778,241.459810087557 618.4852386237515,220.83082994203966 665,234 C 711.5147613762485,247.16917005796034 731.6324084350722,294.13649031939826 772,305 C 812.3675915649278,315.86350968060174 872.9851276359601,290.62320878036746 935,268 C 997.0148723640399,245.37679121963254 1060.4270810210876,225.37067455913186 1121,224 C 1181.5729189789124,222.62932544086814 1239.3065482796892,239.89409298310517 1292,250 C 1344.6934517203108,260.10590701689483 1392.3467258601554,263.05295350844744 1440,266 C 1440,266 1440,400 1440,400 Z");
              }

              100% {
                d: path("M 0,400 C 0,400 0,266 0,266 C 37.71769638673079,293.01447774078184 75.43539277346159,320.0289554815637 133,307 C 190.5646072265384,293.9710445184363 267.97612529288443,240.89865581452705 333,228 C 398.02387470711557,215.10134418547295 450.6601060550005,242.37642126032804 503,249 C 555.3398939449995,255.62357873967196 607.3834504871131,241.5956591441608 663,232 C 718.6165495128869,222.4043408558392 777.806091996547,217.24094216302876 818,230 C 858.193908003453,242.75905783697124 879.3921815266987,273.44057220372423 933,268 C 986.6078184733013,262.55942779627577 1072.6251818966582,220.99676902207423 1129,225 C 1185.3748181033418,229.00323097792577 1212.1070908866689,278.5723517079788 1259,293 C 1305.8929091133311,307.4276482920212 1372.9464545566657,286.7138241460106 1440,266 C 1440,266 1440,400 1440,400 Z");
              }
            }
          </style>
          <path
            d="M 0,400 C 0,400 0,266 0,266 C 37.71769638673079,293.01447774078184 75.43539277346159,320.0289554815637 133,307 C 190.5646072265384,293.9710445184363 267.97612529288443,240.89865581452705 333,228 C 398.02387470711557,215.10134418547295 450.6601060550005,242.37642126032804 503,249 C 555.3398939449995,255.62357873967196 607.3834504871131,241.5956591441608 663,232 C 718.6165495128869,222.4043408558392 777.806091996547,217.24094216302876 818,230 C 858.193908003453,242.75905783697124 879.3921815266987,273.44057220372423 933,268 C 986.6078184733013,262.55942779627577 1072.6251818966582,220.99676902207423 1129,225 C 1185.3748181033418,229.00323097792577 1212.1070908866689,278.5723517079788 1259,293 C 1305.8929091133311,307.4276482920212 1372.9464545566657,286.7138241460106 1440,266 C 1440,266 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#eb144cff"
            class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
        </svg>
      </div>

    </div>
  </div>
  </div>

  <script>
    document.body.style.backgroundColor = '#fbd0db'
    const nodelistAnimate1 = document.querySelectorAll('.blast')
    const nodelistAnimate2 = document.querySelectorAll('.blasty')

    const buttons = document.querySelector('.btn')
    console.log(buttons)

    console.log(nodelistAnimate1)
    
    nodelistAnimate1.forEach((sp)=>{
      sp.addEventListener('mouseover',()=>{
        console.log(sp)
        sp.style.color = '#50BFE6'
        sp.classList.add('animate__animated','animate__rubberBand')
      })

      sp.addEventListener('mouseout',()=>{
        sp.style.color = '#FF355E'
        sp.classList.remove('animate__rubberBand')
      })
    })
    
    nodelistAnimate2.forEach((sp)=>{
      sp.addEventListener('mouseover',()=>{
        sp.style.color = '#C32148'
        sp.classList.add('animate__animated','animate__rubberBand')
      })

      sp.addEventListener('mouseout',()=>{
        sp.style.color = '#2D383A'
        sp.classList.remove('animate__rubberBand')
      })
    })

    buttons.addEventListener('click',()=>{

      buttons.classList.add('animate__animated','animate__rubberBand')
      
      setTimeout(() => {
        buttons.classList.remove('animate__rubberBand')
      }, 1000);
    })
    
    buttons.addEventListener('click', async (e)=>{
      
      console.log('BUTTON IS CLICKED')

      location.assign('http://localhost:3000/try');
      

    })
     
  </script>
</body>

</html>